<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>vas</title>
		<link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/index.js" ></script>
	</head>
	<body bgcolor="transparent" onload="init()">
			<div class="top">
				<div class="txt">
					<img src="img/logo.png" width="300px" height="55px"/>
				</div>
				<div id="time" class="time">
					<script type="text/javascript">
					startTime();
					</script>
				</div>
			</div>
			<div class="mid" id="mid">
			</div>
			<div id="bottom" class="bottom"></div>
			<div id="bottom1" class="bottom1"></div>
	</body>

</html>